<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Job Application Tracker</title>
        <link rel="stylesheet" href="/views/index.css">
    </head>
    <body>
        <div class="container">
            <h1>Job Applications</h1>
            <a class="add-job">Add New Job</a>
            <table>
                <tr>
                    <th>Company</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Date Applied</th>
                    <th>Actions</th>
                </tr>
                <% applications.forEach(job => { %>
                    <tr>
                        <td><%= job.company %></td>
                        <td><%= job.position %></td>
                        <td><%= job.status %></td>
                        <td><%= job.applied_on %></td>
                        <td>
                            <a href="/edit/<%= job.id %>">Edit</a>
                            <a href="/delete/<%= job.id %>">Delete</a>
                        </td>
                    </tr>
                    <% }); %>
                
            </table>
        </div>
    </body>
</html>