Create the job listing page (views/index.ejs):
 <table>
    <tr>
        <th>Company</th>
        <th>Position</th>
        <th>Status</th>
        <th>Date Applied</th>
        <th>Actions</th>
    </tr>
    <% applications.forEach(job => { %>
    <tr>
        <td><%= job.company %></td>
        <td><%= job.position %></td>
        <td><%= job.status %></td>
        <td><%= job.applied_on %></td>
        <td>
            <a href="/edit/<%= job.id %>">Edit</a>
            <a href="/delete/<%= job.id %>">Delete</a>
        </td>
    </tr>
    <% }); %>
</table>
